.greeting-section {
  height: 100vh;
  content: '';
  background-image: url('./images/phone.jpg');
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position-x: left;
}

.title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  color: #fff;
}

.title > h1 {
  margin: 0;
  font-weight: 200;
  font-size: 48px;
  border: 0;
  margin-left: 10%;
}
